/* src/components/VehicleList.css */

.vehicle-list-container {
   position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 0px 15px rgba(0,0,0,0.2);
  width: 170px;
  background-color: #f7f9fa;
  padding: 15px;
  border-right: 1px solid #e0e0e0;
  height: 100vh; /* Ekran yüksekliği kadar */
  overflow-y: auto; /* Liste taşarsa scroll çıksın */
}

.vehicle-list-container h2 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.vehicle-list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vehicle-item {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.vehicle-item:hover {
  background-color: #eef4ff;
  border-color: #4a90e2;
}

.list-header h2 {
  margin-bottom: 10px;
}



.vehicle-item.selected {
  background-color: #afc0d6; /* Açık mavi bir arkaplan */
  border-color: #3b82f6; /* Daha belirgin bir kenarlık rengi */
  font-weight: bold; /* Yazıyı kalın yap */
}