/* src/App.css */

.app-container {
  display: flex; /* En önemli kısım: içindeki elemanları yan yana dizer */
  height: 100vh; /* Ekran yüksekliği kadar */
  width: 100vw; /* Ekran genişliği kadar */
  overflow: hidden; /* Taşmaları engelle */
}